* {
    margin: 0;
    padding: 0;
}

body {
    width: 1920px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

/* some common css*/
section {
    margin-bottom: 130px;
}

.btn-comon {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border: none;
}

/* some common css*/

/* This is section one Styles start  */
#section_one {
    background: rgba(229, 84, 115, 0.10);
}

.container {
    width: 75%;

    margin: 0 auto;
}

.container .content-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;

}

.content-item .item-heading h1 {
    color: #272727;
    font-size: 80px;
    font-weight: 700;
}

.item-heading {
    width: 650px;
    /* padding: 20px; */
}

.content-item .item-heading p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 35px 0;
}

.heading-img {
    width: 600px;
    margin-top: 230px;
}

.heading-img img {
    width: 100%;
}




/* This is section one Styles end */

/* This is section Two Styles end */


.flowers-heading-item {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.flowers-heading-item h2 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}


.flowers-heading-item p {
    margin-top: 24px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px
}

.flowers-item-wraper {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    margin-top: 50px;

}

.flowers-item-wraper .pink {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 465px;

}

.flowers-item-wraper .green {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 465px;

}

.flowers-item-wraper .yellow {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 465px;
}

.pink,
.green,
.yellow img {
    width: 300px;
    padding: 110px 75px 0px 75px;
    align-items: end;
}

/* ========================================================= */


.content-wraper {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-evenly;
    padding: 85px;
    text-align: center;
}

.delivery,
.flower,
.costomer p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

/* ============================= */
#section-four {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.desc-wreper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.item-content {
    width: 600px
}

.item-content h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.item-content h2 span {
    color: #E55473;
}

.item-content p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 25px 0px;
}

.div-item-wriper {
    display: flex;
    justify-content: space-around;

}

.div-1,
.div-2,
.div-3,
.div-4 {
    width: 340px;
    margin-top: 48px;
}

.div-1,
.div-2,
.div-3,
.div-4 {
    width: 100%;
}

.cong-bg {
    background-image: url('../images/rectangle 9.png');
    background-position: center;
    background-size: cover;
    padding: 135px;

}

.cong-bg form {
    margin-top: 15px;
    text-align: center;
    display: flex;

}

.cong-bg form input {
    width: 80%;
    flex-wrap: 1;
}

.foter-wreper {
    background: #111010;
    padding: 128px;
}

.foter-wreper .fot-heding {
    color: #E55473;
}

.fot-heding .shop {
    color: #FFF;
}

.flowers-heading-item .hei-dec {
    color: rgba(255, 255, 255, 0.90);

}

.foter-wreper>p {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;

}